<div class="layerswitch-container">
    <div class="base-layerswitch-container">
        <h5>Base layers</h5>
        <label><input type="radio" name="base-layer-radio-button" value="OSMStandard">OSM Standard</label><br>
        <label><input type="radio" name="base-layer-radio-button" value="StamenTerrain">Stamen Terrain</label><br>
    </div>
    <div class="data-layerswitch-container">
        <h5>Data layers</h5>
        <label><input type="radio" name="data-layer-radio-button" value="asset">Assets</label><br>
        <label><input type="radio" name="data-layer-radio-button" value="countryPop">Country Population</label><br>
        <label><input type="radio" name="data-layer-radio-button" value="countryGdp">Country GPD</label><br>
    </div>
</div>