{% extends 'ruva/base.html' %}
{% load static %}


{% block css %}
<!-- Materialize CSS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Openlayers -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
<link rel="stylesheet" href="{% static 'ruva/css/map.css' %}">
<!-- Datatables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{% static 'ruva/css/table.css' %}">
<!-- File upload -->
<link rel="stylesheet" href="{% static 'ruva/css/file_upload.css' %}">
{% endblock %}


{% block js %}
<!-- Openlayers -->
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
<script src="{% static 'ruva/js/map.js'%}"></script>
<!-- Datatables -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="{% static 'ruva/js/table.js'%}"></script>
<!-- Home js -->
<script src="{% static 'ruva/js/data_manager.js'%}"></script>
<script src="{% static 'ruva/js/misc.js'%}"></script>
<script src="{% static 'ruva/js/home_controller.js'%}"></script>
<!-- File upload -->
<script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.2/xlsx.full.min.js"></script>
<script src="{% static 'ruva/js/file_upload.js'%}"></script>
{% endblock %}


{% block content %}
<!-- Map popup -->
{#{% include 'ruva/includes/popup.html' %}#}
<!-- Import Dialog Modal -->
{% include 'ruva/includes/upload_modal.html' with modal_id='import-modal' %}


<div class="container-fluid">
    <div class="mt-2 row">
        <div class="col-4 col-md-2">
            <!-- Layerswitch -->
            {% include 'ruva/includes/layerswitcher.html' %}
            <br>
            <hr>
            <!-- Fileupload -->
            {% include 'ruva/includes/fileupload.html' %}
        </div>
        <div class="col-8 col-md-6">
            <div id="map-container">
                <div id="map" class="map"></div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <table id="table" class="w-100 hover"></table>
        </div>
    </div>
</div>

{% endblock %}