{% extends 'ruva/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
<link rel="stylesheet" href="{% static 'ruva/css/map.css' %}">
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="{% static 'ruva/js/table.js'%}"></script>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
<script src="{% static 'ruva/js/map.js'%}"></script>
<script>
    var tableDataApiEndpoint = "{% url 'api_table_data' %}";
</script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div id="map" class="map"></div>
<table id="table"></table>
{% endblock %}